* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.uiStart {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #5a5a5a3e;
    text-align: center;
    width: max(80vw, 200px);
    border: solid 2px white;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    visibility: visible;
}


.uiStart h1 {
    font-family: Sans-Serif;
    margin-top: 25px;
    font-size: 85px;
    color: white;
}

#startButton {
    margin: 20px 0 35px;
    width: 70%;
    height: 50px;
    font-size: 30px;
    background: #3e3e3e52;
    border: solid 2px white;
    border-radius: 5px;
    color: white;
}

.uiGameOver {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #5a5a5a3e;
    text-align: center;
    width: max(80vw, 200px);
    border: solid 2px white;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    visibility: hidden;
}

#points {
    width: 100%;
    font-family: Sans-Serif;
    margin-top: 20px;
    font-size: 55px;
    color: white;
}

.uiGameOver p {
    font-size: 30px;
    color: white;
}

#restartButton {
    margin: 20px 0 35px;
    width: 70%;
    height: 50px;
    font-size: 30px;
    background: #3e3e3e52;
    border: solid 2px white;
    border-radius: 5px;
    color: white;
}

.statusContainer {
    position: fixed;
    z-index: 1;
    font-size: 20px;
    top: 2px;
    color: white;
    width: 180px;
    padding: 0 10px;
    background: transparent;
    transition: 0.5s;
    visibility: hidden;
}

#score {
    font-size: 25px;
    color: #00ff00;
}

.ammo, .energy {
    display: flex;
    justify-content: space-between;
    width: 180px;
    font-size: 15px;
}

#ammo, #energy{
    width: 150px;
    height: 15px;
    margin: 1px;
    background: transparent;
    border: solid 1px white;
    border-radius: 10px;
}

#ammoValue {
    transition: 0.25s;
    border-radius: 10px;
    background: #fff59d;
    width: 10%;
    height: 100%;
}

#energyValue {
    transition: 0.75s;
    border-radius: 10px;
    background: #00ff00;
    width: 100%;
    height: 100%;
}


#blastButton {
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 2px;
    width: 140px;
    height: 60px;
    font-size: 40px;
    text-align: center;
    background: #00000042;
    backdrop-filter: blur(5px);
    color: white;
    border: solid 1px white;
    border-radius: 10px;
    transition: 0.1s;
    visibility: hidden;
}

#blastButton:active {
    background: #bcbcbc42;
}

#canvas {
    background: gray;
    position: absolute;
    border: none;
}
